body{
  color: white;
  background-image: url('https://images3.alphacoders.com/812/812062.png');
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}